div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  background-color: #1085e5 !important;
  color: white !important;

  &:hover {
    background-color: #0d6fbf !important;
  }
}

